/* large devices (desktops and laptop) */
@media (min-width: 1200px) and (max-width: 1299px) {
}

/* medium devices (landscape tablets) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* small devices (potrait tab and small desktop) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #error-section,
  #home-section,
  #about-section,
  #contact-section,
  #service-section,
  #portfolio-section {
    height: auto;
  }


/* home left big texts */
.home-section-textctr {
  top: 2%;
}

  /* index page */
  .home-imgctr {
    height: 85%;
    width: 100%;
  }
  
  .home-txt2 {
    font-size: 65px;
    line-height: 80px;
  }
  .home-txt2 strong {
    color: #ffb633;
  }
  .home-txt3 {
    font-weight: 600;
    font-size: 26px;
  }

  #home-myavtar {
    height: 220px;
  }
/* form box */
.form-box {
  top: 2%;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
  /* service right texts */
  .service-item-content {
  top: 3%;
}


}

/* extra small devices (landscap phones and tab) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .lottie-svg-class {
      width: calc(max(400px, 40vw)) !important;
    }
  /* sections  */
  #error-section,
  #home-section,
  #about-section,
  #contact-section,
  #service-section,
  #portfolio-section {
    height: auto;
  }

  /* index page */
  .home-section-textctr {
    position: relative;
    top: 12%;
    text-align: center;
  }
  .home-txt1 {
    font-size: 25px;
  }
  .home-txt2 {
    font-size: 48px;
    line-height: 50px;
  }
  .home-txt2 strong {
    color: #ffb633;
  }
  .home-txt3 {
    font-weight: 600;
    font-size: 18px;
  }
  #home-myavtar {
    height: 220px;
    width: 320px;
  }

  /* form box */
.form-box {
  top: 2%;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

  /* sevice page */
  .service-item-content {
    top: 0%;
  }

    /* education section */
 .educationDetails {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
 }
.education-right-box {
  width: 100%;
  margin-top: 50px;
}

 .selectBox {
   width: 100%;
 }

}

@media (max-width: 575px) {

  /* sections  */
  #error-section,
  #home-section,
  #about-section,
  #contact-section,
  #service-section,
  #portfolio-section {
    height: auto;
  }


  /* nav brand name */
  .navbar-brand {
    width: 100%;
    font-size: 22px !important;
    margin-left: 25px;
  }

  /* index page */
.home-imgctr {
  height: 80%;
  width: 100%;
}
  .home-section-textctr {
    top: 0%;
    text-align: center;
  }
  .home-txt1 {
    font-size: 25px;
    margin-top: 10px;
  }
  .home-txt2 {
    font-size: 52px;
    line-height: 55px;
  }
  .home-txt2 strong {
    color: #ffb633;
  }
  .home-txt3 {
    font-weight: 600;
    font-size: 20px;
  }
  #home-myavtar {
    height: 220px;
    top: 0%;
    margin: 30px 0 30px 0;
  }

  /* sevice page */
  .service-item-content {
    top: 0%;
  }

  /* contact me */
  .form-box {
    margin: 30px 0 30px 0;
    top: 0%;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  /* footer */
    .footer-links {
      width: 100%;
    }

                /* education section */
                .educationDetails {
                  margin-top: 50px;
                  display: flex;
                  justify-content: space-between;
                  flex-direction: column;
                }
        
                .education-right-box {
                  width: 100%;
                  margin-top: 100px;
                }
        
                .selectBox {
                  width: 100%;
                }
                
}
